<div class="section-title-01">
  <div class="bg_parallax image_02_parallax"></div>
  <div class="opacy_bg_02">
    <div class="container">
      <h1>Subscription</h1>
      <div class="crumbs">
        <ul>
          <li><%= raw("&nbsp;" * 60) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content-central">
  <div class="semiboxshadow text-center">
    <%= image_tag("impact_travel/result-bg.png", class: "img-responsive") %>
  </div>

  <div class="content_info">
    <div class="paddings-mini">
      <div class="container about_us content_page">
        <h3>Ooops! Action Required</h3>
        <p>
        Hi,<br />
        Our records show that your annual subscription fee is overdue, and as
        such your Subscription has been suspended. To avoid reinstatement fees,
        you must renew your subscription within 45 days of expiry. 
        </p>

        <p>
        If you fail to renew before that time you will need to pay the
        reinstatement fee and the current annual subscription fee rate will be
        applied to your subscription.
        </p>

        <p>
        By paying within the deadline, you ensure that your subscription is
        uninterrupted, and you have access to the concierge team and the website
        – where you can search and book travel and leisure products at great
        prices all year round – be it for business, holiday or family travel.
        </p>

        <p>
        To renew your subscription now, please contact our customer support on
        <a href="mailto:travel@conciergeservices.io">travel@conciergeservices.io</a>
        and they will help you to sort out this suspension, Thanks!
        </p>

        <br />

        <%= image_tag("impact_travel/cruises-flyer.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</section>
