<h4><%= site_abbreviation %> Cancellation Policy</h4>
<p>
Unless specifically mentioned otherwise in the cancellation policy,
<%= site_abbreviation %> does not charge a processing fee for cancellations
</p>

<p>
Any cancellations received after the cancellation due date specified in the
confirmation email (including requests made within this period) are subject
to a minimum of a 1 (ONE) night cancellation fee, unless you are notified
otherwise in the confirmation email.
</p>

<p>
Failure to arrive at your hotel will be treated as a late cancellation and
will incur a minimum cancellation fee of one (1) night, or more, per room,
unless otherwise specified in the confirmation email.
</p>

<p>
Any changes to your reservation must be made through <%= site_abbreviation %>
and not directly with the hotel. This applies to change of dates, extension of
stay, early check out, delay of arrival or cancellation in full or in part.
Any problems or questions on your reservation prior to arrival or during your
stay at the hotel should be directed to our <%= site_abbreviation %> Customer
Support Specialists. We must be notified of all cancellations within our normal
office hours from 09:00 – 21:00 (Eastern Time).
</p>
