<h3>Confirmation</h3>
<p class="text-info">
We have received your request to change your password. Please check your inbox
with instructions on how to change the password so that you can get back into
your account.
</p>

<%= link_to "Back home", new_session_path, class: "btn btn-primary"%>
