<h3>Password reset</h3>
<%= simple_form_for @password_reset, url: password_reset_path do |f| %>
  <%= f.input :email, label: false, placeholder: "Enter your email address" %>
  <%= f.button :submit, "Reset now", class: "btn btn-primary" %>
<% end %>
<p class="custom_link">
<%= link_to "Back home", new_session_path %>
</p>
