<div>
  Override this layout in "app/views/layouts/impact_travel/landing.html.erb"
  <br />
  Override this page in "app/views/impact_travel/landings/show.html.erb"
</div>

<br />

<%= link_to "Subscriber login", new_session_path %>
