<!DOCTYPE html>
<html>
<head>
  <title>ImpactTravel</title>
  <%= stylesheet_link_tag    "impact_travel/application", media: "all" %>
  <%= javascript_include_tag "impact_travel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
