<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Impact Travel</title>
    <meta name="keywords" content="#" />
    <meta name="description" content="#">
    <meta name="author" content="#">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "impact_travel/application" %>
    <%= stylesheet_link_tag "impact_travel/login" %>
  </head>

  <body>
    <div class='form animated flipInX single_page_form'>
      <%= yield %>
    </div>
  </body>
</html>
