<div class="tp-banner" >
  <ul>
    <% home_slides.each do |slide| %>
    <li data-transition="slidevertical"
        data-slotamount="1"
        data-masterspeed="1000"
        data-saveperformance="off"
        data-title="Slide">

      <img
        src="<%= asset_path(slide) %>"
        alt="fullslide1"
        data-bgposition="left center"
        data-kenburns="on"
        data-duration="10000"
        data-ease="Linear.easeNone"
        data-bgfit="130"
        data-bgfitend="100"
        data-bgpositionend="right center" >
    </li>
  <% end %>
  </ul>

  <div class="tp-bannertimer"></div>
</div>
